
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/index/header :: header-css"></div>

<script>
	$(document).ready(function() {
		$('body').bgStretcher({
			images : [ 'index/images/slide-1.jpg' ],
			imageWidth : 1600,
			imageHeight : 964,
			resizeProportionally : true
		});
		$('#carousel').elastislide({
			imageW : 300,
			margin : 20,
			minItems : 3
		});
		$('.magnifier').fancybox();
		$(".view").hover(function() {
			$(this).find("img").stop().animate({
				opacity : 0.5
			}, "normal")
		}, function() {
			$(this).find("img").stop().animate({
				opacity : 1
			}, "normal")
		})
	})
</script>
</head>
<body>
	<div class="extra-block">
		<div th:replace="fragments/index/header :: header" />

		<section id="content">
			<div class="main-block">
				<div class="main">
					<h3>Our Gallery</h3>
					<div id="carousel" class="es-carousel-wrapper ">
						<div class="es-carousel">
							<ul>
								<li>
									<figure class="img-rounded">
										<a class="view magnifier" data-fancybox-group="gallery"
											href="../index/images/image-blank.png" title="Image Caption"><img
											src="../index/images/page4-img1.jpg" alt="" /><span></span></a>
									</figure>
									<figure class="img-rounded">
										<a class="view magnifier" data-fancybox-group="gallery"
											href="../index/images/image-blank.png" title="Image Caption"><img
											src="../index/images/page4-img4.jpg" alt="" /><span></span></a>
									</figure>
								</li>
								<li>
									<figure class="img-rounded">
										<a class="view magnifier" data-fancybox-group="gallery"
											href="../index/images/image-blank.png" title="Image Caption"><img
											src="../index/images/page4-img2.jpg" alt="" /><span></span></a>
									</figure>
									<figure class="img-rounded">
										<a class="view magnifier" data-fancybox-group="gallery"
											href="../index/images/image-blank.png" title="Image Caption"><img
											src="../index/images/page4-img5.jpg" alt="" /><span></span></a>
									</figure>
								</li>
								<li>
									<figure class="img-rounded">
										<a class="view magnifier" data-fancybox-group="gallery"
											href="../index/images/image-blank.png" title="Image Caption"><img
											src="../index/images/page4-img3.jpg" alt="" /><span></span></a>
									</figure>
									<figure class="img-rounded">
										<a class="view magnifier" data-fancybox-group="gallery"
											href="../index/images/image-blank.png" title="Image Caption"><img
											src="../index/images/page4-img6.jpg" alt="" /><span></span></a>
									</figure>
								</li>
								<li>
									<figure class="img-rounded">
										<a class="view magnifier" data-fancybox-group="gallery"
											href="../index/images/image-blank.png" title="Image Caption"><img
											src="../index/images/page4-img1.jpg" alt="" /><span></span></a>
									</figure>
									<figure class="img-rounded">
										<a class="view magnifier" data-fancybox-group="gallery"
											href="../index/images/image-blank.png" title="Image Caption"><img
											src="../index/images/page4-img4.jpg" alt="" /><span></span>
										</a>
									</figure>
								</li>
								<li>
									<figure class="img-rounded">
										<a class="view magnifier" data-fancybox-group="gallery"
											href="../index/images/image-blank.png" title="Image Caption"><img
											src="../index/images/page4-img2.jpg" alt="" /><span></span></a>
									</figure>
									<figure class="img-rounded">
										<a class="view magnifier" data-fancybox-group="gallery"
											href="../index/images/image-blank.png" title="Image Caption"><img
											src="../index/images/page4-img5.jpg" alt="" /><span></span></a>
									</figure>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
	<div th:replace="fragments/index/footer :: footer" />
</body>
</html>