
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="fragments/index/header :: header-css" />
<script>
$(document).ready(function () {
    $('body').bgStretcher({
        images: ['index/images/slide-1.jpg'],
        imageWidth: 1600,
        imageHeight: 964,
        resizeProportionally: true
    });
});
</script>
</head>
<body>
	<div class="extra-block">
		<div th:replace="fragments/index/header :: header" />
<section id="content">
  <div class="main-block">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_4">
          <figure class="img-rounded img-indent"><img src="../index/images/page3-img1.jpg" alt=""/> </figure>
          <h4>Salon Services</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta dapibus justo ut convallis. Curabitur nulla nunc, varius eget iaculis et, facilisis id magna. Nulla ut orci lectus, adipiscing interdum massa. Fusce lacinia enim rutrum turpis imperdiet vel.</p>
          <ul class="list">
            <li><a href="#">Cosmetic Application</a></li>
            <li><a href="#">Hair Services</a></li>
            <li><a href="#">Natural Nail Care</a></li>
            <li><a href="#">Combination Packages</a></li>
          </ul>
          <a href="#" class="button">More</a> </article>
        <article class="grid_4">
          <figure class="img-rounded img-indent"><img src="../index/images/page3-img2.jpg" alt=""/> </figure>
          <h4>Spa Services</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta dapibus justo ut convallis. Curabitur nulla nunc, varius eget iaculis et, facilisis id magna. Nulla ut orci lectus, adipiscing interdum massa. Fusce lacinia enim rutrum turpis imperdiet vel. </p>
          <ul class="list">
            <li><a href="#">Body Polishes</a></li>
            <li><a href="#">Body Wraps</a></li>
            <li><a href="#">Facials</a></li>
            <li><a href="#">Massage</a></li>
          </ul>
          <a href="#" class="button">More</a> </article>
        <article class="grid_4">
          <figure class="img-rounded img-indent"><img src="../index/images/page3-img3.jpg" alt=""/> </figure>
          <h4>Medi-Spa Services</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta dapibus justo ut convallis. Curabitur nulla nunc, varius eget iaculis et, facilisis id magna. Nulla ut orci lectus, adipiscing interdum massa. Fusce lacinia enim rutrum turpis imperdiet vel. </p>
          <ul class="list">
            <li><a href="#">Botox</a></li>
            <li><a href="#">Restylane</a></li>
            <li><a href="#">Juvederm</a></li>
            <li><a href="#">Radiesse</a></li>
          </ul>
          <a href="#" class="button">More</a> </article>
      </div>
    </div>
  </div>
  </section>

	</div>
	<div th:replace="fragments/index/footer :: footer" />
</body>
</html>