<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer">

		<footer>
			<div class="main aligncenter">
				<div class="privacy">
					<strong>İpek Ağda &copy; 2017 | <a
						href="privacy-policy.html">Gizlilik Politikası</a> |Tasarım :<a
						href="">ipekagda.com</a></strong>
				</div>
			</div>
		</footer>

	</div>
</body>
</html>