<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="header-css">
	<title>İpek Ağda</title>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="../css/style.css" />
	<link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="../images/favicon.ico"
		type="image/x-icon" />
	<script src="../js/jquery.js"></script>
	<script src="../js/jquery-migrate-1.1.1.js"></script>
	<script src="../js/bgstretcher.js"></script>
	<script>
		$(document).ready(
				function() {
					$('body').bgStretcher(
							{
								images : [ 'images/ipek1.png',
										'images/slide-1.jpg',
										'images/slide-2.jpg',
										'images/slide-3.jpg' ],
								imageWidth : 1600,
								imageHeight : 964,
								resizeProportionally : true,
								slideDirection : 'N',
								slideShowSpeed : 1000,
								transitionEffect : 'fade',
								sequenceMode : 'normal',
								pagination : '#nav'
							});
				});
	</script>
	<!--[if lt IE 9]>   
<script src="js/html5shiv.js"></script>
<link href="css/ie.css" rel="stylesheet" type="text/css" media="screen">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">  
<![endif]-->
</div>

</head>
<body>
	<div th:fragment="header">
		<div class="extra-block1">
			<div class="row-top">
				<div class="main">
					<ul class="list-soc">
						<li><a href="#"><img alt="" src="../images/soc-icon3.png" /></a></li>
						<li><a href="#"><img alt="" src="../images/soc-icon2.png" /></a></li>
					</ul>
				</div>
			</div>
			<header>
				<div class="row-nav">
					<div class="main">
						<h1 class="logo">
							<a th:href="@{/index}"><img alt="" src="../images/logo.png" /></a>
						</h1>
						<nav>
							<ul class="menu">
								<li class="current"><a href="index.html">Anasayfa</a></li>
								<li><a th:href="@{/index}">Ürünler</a></li>
								<li><a th:href="@{/index}">Hizmetler</a></li>
								<li><a th:href="@{/index}">Hakkımızda</a></li>
								<li><a th:href="@{/index}">Sipariş Ver</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
			</header>
		</div>
	</div>

</body>
</html>